<% include header.ejs %>
	<h1><%=title%></h1>
	<h2><%=description%></h2>
	<pre class="error">
		<!--El stack es que es lo que da error-->
		<code><%=error.stack%></code>
	</pre>
<% include footer.ejs %>